@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* ### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%)
 */
*{
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;

}
body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(images/bg-header-desktop.png);
    background-attachment:scroll;
    background-size: cover;
    background-position: center center;
    height: 30%;
    text-align: center;
    padding-bottom: 100px;
}
header > img{
    padding: 80px 0 25px 0;
}
header > h1{
    font-size:3rem;
    padding: 0 0 20px 0;
}
header > p {
    padding-bottom: 20px;
    font-size: 1.3rem;
    
}
.but-iso{
    margin:20px 10px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px rgb(14, 1, 1);
    width: 230px;
    padding: 10px;
    font-weight: bold;
    background-color: #26BBA4;
    font-size: 1em;
}
.but-iso a, .but-mac a{
    text-decoration: none;
    color: white;
}
.but-mac{
    margin: auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px black;
    width: 230px;
    padding: 10px;
    background-color: #103bbc;
    font-weight:bold;
    font-size: 1em;

}
.but-iso:hover, .but-mac:hover{
    transform: translate(3px, 3px);
    width: 250px;
    box-shadow: 0 0 20px black;
}
main{
    text-align: center;
}
main  h2{
    font-size:1.8em;
}
 main  h3{
    font-size: 1.2em;
 }
 main > p{
    margin: auto;
    min-width:300px;
    width: 50vw;
    padding: 10px;

 }
 .img{
    width:clamp(300px, 50%, 1440px);
 }
 #workflow{
    width: 98vw;
 }
 #workflow > div{
    display: inline-block;
    width: 400px;
    padding-top:30px;
    padding: 0 20px;
    line-height: 2em;
    margin-top: 20px;
 }

 #workflow div > img{
    padding: 10px;

 }
.imgfoot{
    padding:90px 30px;
}
footer{
    height: 5%;
    background-color: lightblue;    text-align: left;
    margin-top: 100px ;
}
footer div{
   text-align:right;
}
#svgfoot{
    width:50px;
    padding:15px;
    float: left;
    padding-left: 100px;
}