@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* ### Primary

- Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)

### Neutral

- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%)
 */
*{
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;

}
header{
    background-image: url(images/bg-header-desktop.png);
    background-attachment:scroll;
    background-size: cover;
    background-position: center center;
    height: 30%;
    text-align: center;
    padding-bottom: 100px;
}
header > img{
    padding: 80px 0 25px 0;
}
header > h1{
    font-size:3rem;
    padding: 0 0 20px 0;
}
header > p {
    padding-bottom: 20px;
    font-size: 1.3rem;
    
}
.but-iso{
    margin: auto 20px 10px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px black;
    width: 230px;
    padding: 10px;
    font-weight: bold;
    background-color: #26BBA4;
    font-size: 1em;
}
.but-iso a, .but-mac a{
    text-decoration: none;
    color: white;
}
.but-mac{
    margin: auto;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px black;
    width: 230px;
    padding: 10px;
    background-color: #103bbc;
    font-weight:bold;
    font-size: 1em;

}
.but-iso:hover, .but-mac:hover{
    transform: translate(3px, 3px);
    width: 250px;
    box-shadow: 0 0 20px black;
}
main{
    text-align: center;
}

.img{
    width:50vw;
}
footer{
    background-color: lightblue;
    text-align: center;
}